<__trans_section component="MoreAnalytics">

<mt:setvarblock name="page_title"><__trans phrase="Google Analytics API Playground"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
  <style type="text/css">
    .tagify { min-width: 400px; }
    #template-snipet { width: 100%; }
  </style>
</mt:setvarblock>
<mt:setvarblock name="js_include" append="1">
  <script type="text/javascript" src="<$mt:var name="static_uri"$>plugins/MoreAnalytics/js/jquery-textext.js?v=<mt:var name="more_analytics_version_id" escape="URL">"></script>
  <script type="text/javascript" src="<$mt:var name="static_uri"$>plugins/MoreAnalytics/js/more-analytics.js?v=<mt:var name="more_analytics_version_id" escape="URL">"></script>
  <script type="text/javascript" src="<$mt:var name="static_uri"$>plugins/MoreAnalytics/metrics-and-dimensions/<mt:var name='metrics_and_dimensions_lang' escape='html'>.js?v=<mt:var name="more_analytics_version_id" escape="URL">"></script>
  <script type="text/javascript" src="<$mt:var name="static_uri"$>plugins/MoreAnalytics/js/jquery-ui.playground.js?v=<mt:var name="more_analytics_version_id" escape="URL">"></script>
</mt:setvarblock>

<mt:include name="include/header.tmpl" id="header-include">

<form id="playground-ui" action="#" method="post">

  <mtapp:setting
    id="ma-period"
    label="<__trans phrase='Aggregation Period'>"
  >
    <select name="ma_period_id" id="ma-period" class="period api-param">
      <mt:loop name="ma_period_loop">
        <option value="<mt:var name='basename' escape='html'>"<mt:if name="is_selected"> selected="selected"</mt:if>><mt:var name="name" escape="html"></option>
      </mt:loop>
      <option value=""><__trans phrase="Set as below"></option>
    </select>
  </mtapp:setting>

<div class="tabs-container" id="requests">
  <ul class="tabs">
    <li class="tab"><a href="#requests-fields"><__trans phrase="Fields"></a></li>
    <li class="tab"><a href="#requests-filters"><__trans phrase="Filters"></a></li>
    <li class="tab periods"><a href="#requests-periods"><__trans phrase="Aggregation Period"></a></li>
    <li class="tab"><a href="#requests-options"><__trans phrase="Options"></a></li>
  </ul>

  <div id="requests-fields">
    <mtapp:setting
      id="metrics"
      label="<__trans phrase='Metrics'>">
      <input type="text" name="metrics" class="metrics tagify" id="metrics" style="min-width:400px">
    </mtapp:setting>

    <mtapp:setting
      id="dimensions"
      label="<__trans phrase='Dimensions'>">
      <input type="text" name="dimensions" class="dimensions tagify" id="dimensions" style="min-width:400px">
    </mtapp:setting>

    <mtapp:setting
      id="sort"
      label="<__trans phrase='Sort'>">
      <input type="text" name="sort" class="sort tagify" id="sort" style="min-width:400px">
    </mtapp:setting>
      
  </div>

  <div id="requests-filters">
    <mtapp:setting
      id="filters"
      label="<__trans phrase='Filters'>">
      <textarea name="filters" class="text low api-param filters" id="filters"></textarea>
    </mtapp:setting>

  </div>

  <div id="requests-periods" class="periods">

    <mtapp:setting
      id="start-date"
      label="<__trans phrase='Start Date'>">
      <input type="text" class="text date text-date api-param start-date" id="start-date" name="start_date" value="">
    </mtapp:setting>

    <mtapp:setting
      id="end-date"
      label="<__trans phrase='End Date'>">
      <input type="text" class="text date text-date api-param end-date" id="end-date" name="end_date" value="">
    </mtapp:setting>

  </div>

  <div id="requests-options">
    <mtapp:setting
      id="ids"
      label="<__trans phrase='Profile'>">
      <select name="ids" class="api-param ids" id="ids">
      </select>
    </mtapp:setting>

    <mtapp:setting
      id="start-index"
      label="<__trans phrase='Start Index'>">
      <input type="text" class="text num api-param start-index" name="start_index" id="start-index" value="">
    </mtapp:setting>

    <mtapp:setting
      id="max-results"
      label="<__trans phrase='Max Results'>">
      <input type="text" class="text num api-param max-results" name="max_results" id="max-results" value="1000">
    </mtapp:setting>

  </div>
</div>



<div class="tabs-container" id="results">
  <ul class="tabs">
    <li class="tab"><a href="#results-table"><__trans phrase="Result Table"></a></li>
    <li class="tab"><a href="#results-template"><__trans phrase="Template Snipet"></a></li>
  </ul>

  <div id="results-table" class="listing">

  <mtapp:statusmsg
     id="query-error"
     class="error hidden query-error"
     can_close="0">
  </mtapp:statusmsg>

    <div class="filter-block">
      <div class="filter-header">
        <div class="mod">
          <button id="reload" type="button" class="action primary button reload"><__trans phrase="Reload"></button>
          <img src="<$mt:var name="static_uri"$>images/indicator.white.gif" class="loading hidden">
        </div>
      </div>
    </div>

    <div class="listing-table-block">
      <table class="listing-table">
        <thead class="listing-thead">
          <tr class="listing-thead-row">
          </tr>
        </thead>
        <tbody class="listing-tbody">
        </tbody>
      </table>
    </div>
  </div>
  <div id="results-template">
    <textarea name="template" class="text high template-snipet" id="template-snipet" readonly="readonly"></textarea>
  </div>
</div>

</form>

<mt:setvarblock name="jq_js_include">

(function($) {
  // Tabify
  $('.tabs-container').tabs();

  $('#playground-ui').maPlayground({
    blogId: '<mt:var name="blog_id">',
    cgiUri: '<mt:CGIPath><mt:AdminScript>',
    metrics: $.MoreAnalyticsL10N.lexicon.metrics,
    dimensions: $.MoreAnalyticsL10N.lexicon.dimensions,
    unknownLabe: '<__trans phrase="Unknown">'
  });

})(jQuery);

</mt:setvarblock>

<mt:include name="include/footer.tmpl" id="footer-include">

</__trans_section>