<__trans_section component="MoreAnalytics">
    <input type="text" class="text num" name="<mt:var name='side'>.days" value="<mt:var name='days' escape='html'>">
    <__trans phrase="days before">
</__trans_section>